.radio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

    .radioLabel {
        color: var(--black-color);
        font-family: montserratRegular;
        font-size: 0.875rem;
        font-weight: 600;
    }

    .options {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2.5rem;

        .option {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;

            input {
                width: 1.5rem;
                height: 1.5rem;

                &:checked {
                    accent-color: var(--primary-color);
                    background-color: var(--primary-color);
                }
            }

            .optionLabel {
                color: var(--black-color);
                font-family: montserratRegular;
                font-size: 0.875rem;
                font-weight: 400;
            }
        }
    }
}
