body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--gray-color);
    &:active,
    &:visited {
        color: var(--gray-color);
    }
    &.active {
        color: var(--black-color);
    }
}
