@import url("fonts.css");

:root {
    --main-color: #000;
    --black-color: #2a2a2a;
    --darkGray-color: #535353;
    --gray-color: #949494;
    --lightGray-color: #ececec;
    --white-color: #ffffff;
    --primary-color: #002f6c;
    --primaryInactive-color: #8097b5;
    --secondary-color: #559994;
    --success-color: #c3e5e3;
    --thirdGray-color: #d9d9d9;
    --forthGray-color: #e8eef5;
    --bg-color: #ebebeb;
}
